*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    list-style-type: none;
    /* padding-top: 40px; */
}
#logo {
    width: 48px;
    height: 48px;
}
#line{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

.navlinks {
    list-style-type:none;
    /* background: rgba(255, 255, 255, 0.05); */
    display: flex;
    gap: 4rem;
    padding: 0;
    
    
}
.navlinks li {
    display: inline;
    
}
#blurbackground{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(80px);
    height: 6rem;  
    width: 51vw;
    gap: 4rem;
    min-width: 41.5rem;  
    z-index: 1;
    padding: 0 4rem;
    /* position: relative; */
}
li a {
    text-decoration: none;
    color: white; 
    padding: 0 12px;
}

hr{
    border: 1px solid rgba(255, 255, 255, 1);
    /* background: var(--color-white, hsla(0, 0%, 100%, 1)); */
    width:45vw;
    /* width: 560px; */
    opacity: 0.25;
    /* position: relative; */
    position: fixed;
    z-index: 9999;
}
/* .active-nav{
    border: 3px solid white;
    
} */