{% extends "base.html" %}

{% block pagecontents %}
<div class="tech-div">
    <div class="tech-content">
        <div class="dest-num"><span id="num">03</span> SPACE LAUNCH 101</div>

        <div class="term-div">
            <div class="terminology">
                <div class="num-status">
                    <a href="{{ url_for('launchVehicle') }}" id="tech-link"><div class="num-background"><p>1</p></div></a><br>
                    <a href="{{ url_for('spaceport') }}" id="tech-link"><div class="num-background"><p >2</p></div></a><br>
                    <a href="{{ url_for('spaceCapsule') }}" id="tech-link"><div class="num-background  active-tech"><p>3</p></div></a>
                    <!-- <div class="num-background active"><p id="explore">1</p></div>
                    <div class="num-background"><p id="explore">2</p></div>
                    <div class="num-background"><p id="explore">3</p></div> -->
                </div>
                <div class="terminology-description">
                    <p class="position">THE TERMINOLOGY...</p>
                    <p class="crew-name">SPACE CAPSULE</p>
                    <p class="letsface">A space capsule is an often-crewed spacecraft that uses a blunt-body reentry capsule to reenter the Earth's atmosphere without wings. Our capsule is where you'll spend your time during the flight. It includes a space gym, cinema, and plenty of other activities to keep you entertained.</p>
                </div>
            </div>

            <div class="tech-pic"><img src="techC.jpg" class="tech-img"></div>
        </div>
    </div>
    

</div>


{% endblock %}